{% extends "src/html/_layout.html" %}
{% set page={
    title : "弹出窗口",
    barTitle : "弹出窗口"
} %}
{%block css%}
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style>
			html,body {
				background-color: #efeff4;
			}
		</style>
{%endblock%}
{%block content%}
            <a href="#modal" class="mui-btn mui-btn-primary mui-btn-block">Click</a>
			<div id="modal" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-close mui-pull-right" href="#modal"></a>
					<h1 class="mui-title">Modal</h1>
				</header>
				<div class="mui-content" style="height: 100%;">
					<p class="mui-content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
				</div>
			</div>
{%endblock%}
{%block js%}
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
		</script>
{%endblock%}
