{% extends "src/html/_layout.html" %}
{% set page={
    title : "导航栏",
    barTitle : "导航栏"
} %}
{%block css%}
		<link rel="stylesheet" type="text/css" href="../css/app.css"/>
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.mui-bar .mui-pull-left .mui-icon {
				padding-right: 5px;
				font-size: 28px;
			}
			.mui-bar .mui-btn {
				font-weight: normal;
				font-size: 17px;
			}
			.mui-bar .mui-btn-link {
				top: 1px;
			}
			.mui-content img{
				width: 100%;
			}
			.hm-description{
				margin: .5em 0 2em;
			}
			.hm-description>li {
				font-size: 14px;
				color: #8f8f94;
			}
		</style>
{%endblock%}
{%block content%}
			<img id="img1" src="../img/yuantiao.jpg"/>
			<div id="slider" class="mui-slider mui-hidden" >
				<div class="mui-slider-group">
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../img/shuijiao.jpg">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="../img/yuantiao.jpg">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<p style="margin: 35px 15px;">这是transparent bar（透明导航栏）演示页面， 默认情况下标题栏透明，
				当用户向下滚动时，标题栏逐渐由透明转变为不透明；当用户再次向上滚动时，标题栏又从不透明变为透明状态。
			</p>
			<p style="margin: 5px 15px 15px 15px;">
				这是一种解决滚动条通顶问题的变通解决方案，该方案相比双webview的方案，性能更高，动效更酷，但也有其适用场景：
			</p>
			<ul class="hm-description">
				<li>顶部最好有图片或轮播组件</li>
				<li>导航栏字体颜色和图片颜色互搭</li>
			</ul>
			<h5 class="mui-content-padded">图片类型</h5>
			<form class="mui-input-group" style="margin-bottom: 300px;">
				<div class="mui-input-row mui-radio">
					<label>静态图片</label>
					<input name="style" type="radio" checked value="left-none">
				</div>
				<div class="mui-input-row mui-radio">
					<label>轮播图</label>
					<input name="style" type="radio" value="left-icon">
				</div>
			</form>
{%endblock%}
{%block js%}
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			var header = document.getElementById("header");
			var transparentApi;
			var slider = document.getElementById("slider");
			mui('.mui-input-group').on('change', 'input', function() {
				if (this.checked) {
					switch (this.value) {
						case 'left-none':
							//							remove('.mui-pull-left');
							document.getElementById("img1").className = "";
							document.getElementById("slider").classList.add("mui-hidden");
							break;
						case 'left-icon':
							document.getElementById("img1").className = "mui-hidden";
							if(slider.classList.contains("mui-hidden")){
								document.getElementById("slider").classList.remove("mui-hidden");
							}
							break;
					}
				}
			});
		</script>
{%endblock%}
