{% extends "src/html/_layout.html" %}
{% set page={
    title : "下拉刷新和上拉加载更多",
    barTitle : "下拉刷新和上拉加载更多"
} %}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
{%endblock%}
{%block js%}
	<script type="text/javascript">
		//启用双击监听
		mui.init({
			gestureConfig:{
				doubletap:true
			},
			subpages:[{
				url:'pullrefresh_sub.html',
				id:'pullrefresh_sub.html',
				styles:{
					top: '45px',
					bottom: '0px',
				}
			}]
		});
	
		var contentWebview = null;
		document.querySelector('header').addEventListener('doubletap',function () {
			if(contentWebview==null){
				contentWebview = plus.webview.currentWebview().children()[0];
			}
			contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
		});
	</script>
{%endblock%}
