{% extends "src/html/_layout.html" %}
{% set page={
    title : "文字选项卡",
    barTitle : "文字选项卡"
} %}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
{%endblock%}
{%block footer%}
		<footer class="mui-bar mui-bar-tab">
		    <a class="mui-tab-item mui-active" href="#">
		        电话沟通
		    </a>
		    <a class="mui-tab-item" href="#">
		        在线交流
		    </a>
		    <a class="mui-tab-item" href="#">
		        短信咨询
		    </a>
		    <a class="mui-tab-item" href="#">
		        查看地图
		    </a>
		</footer>
{%endblock%}
{%block js%}
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
{%endblock%}
