{% extends "src/html/_layout.html" %}
{% set page={
    title : "普通列表",
    barTitle : "普通列表"
} %}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <style>
        .title{
            margin: 20px 15px 7px;
            color: #6d6d72;
            font-size: 15px;
        }
    </style>
{%endblock%}
{%block content%}
    <div class="title">
        右侧无导航箭头
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">Item 1</li>
        <li class="mui-table-view-cell">Item 2</li>
        <li class="mui-table-view-cell">Item 3</li>
    </ul>
    <div class="title">
        右侧有导航箭头
    </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                Item 1
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                Item 2
            </a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right">
                Item 3
            </a>
        </li>
    </ul>
    <div class="title">圆角列表</div>
    <div class="mui-card" style="margin-bottom: 35px;">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    Item 1
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    Item 2
                </a>
            </li>
            <li class="mui-table-view-cell">
                <a class="mui-navigate-right">
                    Item 3
                </a>
            </li>
        </ul>
    </div>
{%endblock%}
{%block js%}
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
{%endblock%}
