{% extends "src/html/_layout.html" %}
{% set page={
    title : "文字段落",
    barTitle : "文字段落"
} %}
{%block css%}
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
{%endblock%}
{%block content%}
    <div class="mui-content-padded">
        <h1>h1. Heading</h1>
        <h2>h2. Heading</h2>
        <h3>h3. Heading</h3>
        <h4>h4. Heading</h4>
        <h5>h5. Heading</h5>
        <h6>h6. Heading</h6>
        <p>p. 目前最接近原生App效果的框架。</p>
    </div>
{%endblock%}
{%block js%}
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
{%endblock%}
